@{
    ViewBag.Title = "Home Page";
}

    <h1>Application Overview</h1>
   <hr/>
    <h5>Sender Information - Add sender's information and upload file</h5>
    <hr /><h5>Receiver Information - Add receiver's information to share the data</h5>
          <hr /><h5>Send Data - Select sender, data file and receiver to share the data</h5>
                <hr /><h5>Download data - Select the file and provide the information to download</h5>


