@{
    ViewBag.Title = "Home Page";
}

    <h1>Upload File</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.TextBox("file", "", new { type = "file" }) <br />
            <input type="submit" class="btn btn-primary btn-lg" value="Upload" />
            @ViewBag.Message
        </div>
    }

